body {
    background: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    padding: 1em 0em;
}

.container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.inputbox {
    background-color: rgba(128, 128, 128, 0.495);
    border-radius: 25px;
    border: 1px solid black;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#submitbtn {
    margin-top: 2em;
}

.imgbox {
    background-color: rgba(128, 128, 128, 0.495);
    border-radius: 25px;
    padding: 25px;
    margin-top: 19px;

}

h1 {
    color: white;
}